/* Author: Denis Pismenny (denis@pismenny.pro) */
body, html { margin: 0; overflow: hidden; -webkit-transition: opacity 400ms; -moz-transition: opacity 400ms; -o-transition: opacity 400ms; transition: opacity 400ms; }

body, .onepage-wrapper, html { display: block; position: static; padding: 0; width: 100%; height: 100%; }

.onepage-wrapper { width: 100%; height: 100%; display: block; position: relative; padding: 0; -webkit-transform-style: preserve-3d; }
.onepage-wrapper .section { width: 100%; height: 100%; }

.onepage-pagination { position: absolute; right: 10px; top: 50%; margin-top: -48px; z-index: 5; list-style: none; margin: 0; padding: 0; }
.onepage-pagination li { padding: 0; text-align: center; padding: 4px 0; }
.onepage-pagination a { width: 16px; height: 16px; display: block; }
.onepage-pagination a:before { content: ""; position: absolute; width: 16px; height: 16px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; left: 0; width: 16px; height: 16px; background: none; border: 2px solid white; }
.onepage-pagination a.active:before { background: white; }

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper { overflow: auto; }

.disabled-onepage-scroll .onepage-wrapper .section { position: relative !important; top: auto !important; left: auto !important; }

.disabled-onepage-scroll .onepage-wrapper { -webkit-transform: none !important; -moz-transform: none !important; transform: none !important; -ms-transform: none !important; min-height: 100%; }

.disabled-onepage-scroll .onepage-pagination { display: none; }

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html { position: inherit; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "FuturaNewDemi"; src: url("../fonts/FuturaNewDemi.eot"); src: url("../fonts/FuturaNewDemi.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewDemi.woff") format("woff"), url("../fonts/FuturaNewDemi.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "FuturaNewMedium"; src: url("../fonts/FuturaNewMedium.eot"); src: url("../fonts/FuturaNewMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewMedium.woff") format("woff"), url("../fonts/FuturaNewMedium.ttf") format("truetype"); font-weight: normal; font-style: normal; }

@font-face { font-family: "FuturaNewBold"; src: url("../fonts/FuturaNewBold.eot"); src: url("../fonts/FuturaNewBold.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaNewBold.woff") format("woff"), url("../fonts/FuturaNewBold.ttf") format("truetype"); font-weight: normal; font-style: normal; }

body { font-family: "FuturaNewMedium", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 32px; line-height: 1; color: white; background: #2471b7; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; min-width: 1024px; }

.h1 { font-family: "FuturaNewDemi", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 32px; color: rgba(255, 255, 255, 0.4); text-transform: uppercase; letter-spacing: 0.06em; margin-bottom: 22px; }

.section { text-align: center; font-size: 0; min-height: 700px; }
.section:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.section.section_1 { background: url('../img/bg1.jpg?1409571063'); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.section.section_2 { background: url('../img/bg2.jpg?1409571088'); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.section.section_2 .section__text { top: 45%; left: 0; }
.section.section_2 .section__pic { top: 45%; right: 0; }
.section.section_3 { background: url('../img/bg3.jpg?1409571107'); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.section.section_3 .section__text { top: 45%; right: 0; }
.section.section_3 .section__pic { top: 45%; left: 0; }
.section.section_4 { background: url('../img/bg4.jpg?1409571118'); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.section.section_4 .section__text { top: 53%; left: 0; }
.section.section_4 .section__pic { top: 45%; right: 0; }
.section .section__in { position: relative; margin: 0 auto; width: 1010px; display: inline-block; vertical-align: top; font-size: 14px; height: 100%; }
@media only screen and (max-width: 1024px) { .section .section__in { width: 960px; } }
.section .section__text { position: absolute; text-align: left; font-size: 32px; width: 560px; }
.section .section__text p { line-height: 36px; margin-bottom: 19px; }
.section .section__pic { position: absolute; }
.section .section__pic img { display: block; }
.section .btn-download { margin-top: 12px; margin-left: -10px; }

.menu { text-align: center; position: absolute; bottom: 25%; left: 0; width: 100%; font-size: 0; }
.menu li { display: inline-block; padding: 0 20px; }
.menu a { font-family: "FuturaNewBold", Arial, sans-serif; font-weight: normal; font-style: normal; font-size: 36px; color: white; text-decoration: none; }

.btn-move { position: absolute; bottom: 5%; left: 0; width: 100%; font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; color: white; font-weight: bold; text-decoration: none; font-size: 48px; display: block; text-align: center; }

.btn-download { display: inline-block; vertical-align: top; background-image: url('../img/icons-s39e000f527.png'); background-position: 0 0; background-repeat: no-repeat; height: 64px; width: 207px; font: 0/0 a; text-shadow: none; color: transparent; }
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dppx) { .btn-download { background-image: url('../img/icons-retina-s659b5418d5.png'); background-size: 207px 64px; background-position: 0 0; height: 64px; width: 207px; } }
